ErrorDocument 404 /404.php
RewriteEngine on
RewriteRule ^DashBoard$ DashBoard.php
RewriteRule ^DashBoard/$ DashBoard.php

<IfModule mod_rewrite.c>
RewriteBase /vso/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico

RewriteRule ^Include$ Include.php
RewriteRule ^Help$ Help.php
RewriteRule ^Help/$ Help.php

RewriteRule ^save$ save.php
RewriteRule ^save/$ save.php

RewriteRule ^Functions$ Functions.php
RewriteRule ^Functions/$ Functions.php
RewriteRule ^DatabaseDelete$ DatabaseDelete.php
RewriteRule ^DatabaseDelete/$ DatabaseDelete.php




RewriteRule ^Cohorts modules/Cohorts/views/Cohorts.php
RewriteRule ^ViewCohort/([A-Za-z0-9\-]+)$ modules/Cohorts/views/detailView.php?CohortId=$1
RewriteRule ^Attendance modules/Cohorts/views/Attendance.php





RewriteRule ^sessionClassList/([A-Za-z0-9\-:_]+)$ modules/Cohorts/views/sessionClassList.php?SessionId=$1



RewriteRule ^ExamReportSpecial$ ExamReportSpecial.php
RewriteRule ^ExamReportSpecial/$ ExamReportSpecial.php


RewriteRule ^ExamReportVerification$ ExamReportVerification.php
RewriteRule ^ExamReportVerification/$ ExamReportVerification.php

RewriteRule ^GenerateTranscript$ GenerateTranscript.php
RewriteRule ^GenerateTranscript/$ GenerateTranscript.php



RewriteRule ^GraphicalReport$ GraphicalReport.php
RewriteRule ^GraphicalReport/$ GraphicalReport.php
RewriteRule ^GraphicalReport/([A-Za-z0-9\-]+)$ GraphicalReport.php?AdmissionId=$1
RewriteRule ^GraphicalReport/([A-Za-z0-9\-]+)/$ GraphicalReport.php?AdmissionId=$1

RewriteRule ^Database$ Database.php
RewriteRule ^Database/$ Database.php
RewriteRule ^GetDetail$ GetDetail.php
RewriteRule ^GetDetail/$ GetDetail.php
RewriteRule ^FeeReport/([A-Za-z0-9\-]+)$ FeeReport.php?Session=$1
RewriteRule ^FeeReport/([A-Za-z0-9\-]+)/$ FeeReport.php?Session=$1
RewriteRule ^FeeRegister/([A-Za-z0-9\-]+)$ FeeRegister.php?Session=$1
RewriteRule ^FeeRegister/([A-Za-z0-9\-]+)/$ FeeRegister.php?Session=$1
RewriteRule ^LogIn$ index.php
RewriteRule ^LogIn/$ index.php
RewriteRule ^LogOut$ LogOut.php
RewriteRule ^LogOut/$ LogOut.php
RewriteRule ^ChangePassword$ ChangePassword.php
RewriteRule ^ChangePassword/$ ChangePassword.php
RewriteRule ^DashBoard$ DashBoard.php
RewriteRule ^DashBoard/$ DashBoard.php
RewriteRule ^GeneralSetting$ GeneralSetting.php
RewriteRule ^GeneralSetting/$ GeneralSetting.php
RewriteRule ^Circular$ Circular.php
RewriteRule ^Circular/$ Circular.php
RewriteRule ^Circular/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Circular.php?Action=$1&Id=$2
RewriteRule ^Circular/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Circular.php?Action=$1&Id=$2
RewriteRule ^RemoteValidation$ RemoteValidation.php
RewriteRule ^RemoteValidation/$ RemoteValidation.php
RewriteRule ^RemoteValidation/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ RemoteValidation.php?Action=$1&Id=$2
RewriteRule ^RemoteValidation/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ RemoteValidation.php?Action=$1&Id=$2
RewriteRule ^Action$ Action.php
RewriteRule ^Action/$ Action.php
RewriteRule ^HouseAction$ HouseAction.php
RewriteRule ^HouseAction/$ HouseAction.php
RewriteRule ^ManageSession$ ManageSession.php
RewriteRule ^ManageSession/$ ManageSession.php
RewriteRule ^ManageSession/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageSession.php?Action=$1&Session=$2
RewriteRule ^ManageSession/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageSession.php?Action=$1&Session=$2
RewriteRule ^MasterEntry$ MasterEntry.php
RewriteRule ^MasterEntry/$ MasterEntry.php
RewriteRule ^MasterEntry/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ MasterEntry.php?Action=$1&MasterEntryId=$2
RewriteRule ^MasterEntry/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ MasterEntry.php?Action=$1&MasterEntryId=$2
RewriteRule ^Language$ Language.php
RewriteRule ^Language/$ Language.php
RewriteRule ^Language/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Language.php?Action=$1&Id=$2
RewriteRule ^Language/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Language.php?Action=$1&Id=$2
RewriteRule ^Print$ Print.php
RewriteRule ^Print/$ Print.php
RewriteRule ^PrintOption$ PrintOption.php
RewriteRule ^PrintOption/$ PrintOption.php
RewriteRule ^PrintOption/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ PrintOption.php?Action=$1&UniqueId=$2
RewriteRule ^PrintOption/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ PrintOption.php?Action=$1&UniqueId=$2

RewriteRule ^ActionGet$ ActionGet.php
RewriteRule ^ActionGet/$ ActionGet.php
RewriteRule ^ActionGet/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ActionGet.php?Action=$1&UniqueId=$2
RewriteRule ^ActionGet/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ActionGet.php?Action=$1&UniqueId=$2


RewriteRule ^ProgressReport modules/StudentProgress/views/read.php

RewriteRule ^Centers modules/Centers/views/index.php
RewriteRule ^create-center modules/Centers/views/create.php
RewriteRule ^view-center/([A-Za-z0-9\-]+)$ modules/Centers/views/view.php?CenterId=$1
RewriteRule ^update-center/([A-Za-z0-9\-]+)$ modules/Centers/views/update.php?CenterId=$1
RewriteRule ^delete-center/([A-Za-z0-9\-]+)$ modules/Centers/views/delete.php?CenterId=$1
RewriteRule ^ajaxCall/([0-9]+)?$ modules/Centers/views/ajaxpro.php?id=$1 [QSA,L,NC] 


RewriteRule ^Registration$ modules/Registration/views/index.php
RewriteRule ^Register  modules/Registration/views/create.php
RewriteRule ^update-learner/([A-Za-z0-9\-]+)$ modules/Registration/views/update.php?RegistrationId=$1
RewriteRule ^view-learner/([A-Za-z0-9\-]+)$ modules/Registration/views/view.php?RegistrationId=$1
RewriteRule ^delete-learner/([A-Za-z0-9\-]+)$ modules/Registration/views/delete.php?RegistrationId=$1
RewriteRule ^Admit/([A-Za-z0-9\-]+)$ modules/Registration/views/Admit.php?RegistrationId=$1





RewriteRule ^details/([A-Za-z0-9\-]+)$ modules/StudentProgress/views/details.php?OOSG_CODE=$1

RewriteRule ^ViewCenter/([A-Za-z0-9\-]+)$ modules/Centers/views/EditView.php?CenterId=$1







RewriteRule ^Registration/$ Registration.php
RewriteRule ^CoachNotes$ modules/coachVisit/index.php

RewriteRule ^Admission$ modules/Registration/views/Student.php
RewriteRule ^Promotion$ modules/StudentProgress/views/promotions.php
RewriteRule ^Promotion$ modules/StudentProgress/views/promotions.php?StudentId=$1


RewriteRule ^Admission/$ modules/Registration/views/Student.php
RewriteRule ^AdmissionReport$ AdmissionReport.php
RewriteRule ^AdmissionReport/$ AdmissionReport.php
RewriteRule ^AdmissionReport/([A-Za-z0-9\-]+)$ AdmissionReport.php?SectionId=$1
RewriteRule ^AdmissionReport/([A-Za-z0-9\-]+)/$ AdmissionReport.php?SectionId=$1

RewriteRule ^RegistrationReport$ RegistrationReport.php
RewriteRule ^RegistrationReport/$ RegistrationReport.php
RewriteRule ^RegistrationReport/([A-Za-z0-9\-]+)$ RegistrationReport.php?SectionId=$1
RewriteRule ^RegistrationReport/([A-Za-z0-9\-]+)/$ RegistrationReport.php?SectionId=$1
RewriteRule ^RegistrationReportFiltered$ RegistrationReportFiltered.php
RewriteRule ^RegistrationReportFiltered/$ RegistrationReportFiltered.php
RewriteRule ^RegistrationReportFiltered/([A-Za-z0-9\-]+)$ RegistrationReportFiltered.php?SectionId=$1
RewriteRule ^RegistrationReportFiltered/([A-Za-z0-9\-]+)/$ RegistrationReportFiltered.php?SectionId=$1

RewriteRule ^StudyingReport$ StudyingReport.php
RewriteRule ^StudyingReport/$ StudyingReport.php
RewriteRule ^StudyingReport/([A-Za-z0-9\-]+)$ StudyingReport.php?SectionId=$1
RewriteRule ^StudyingReport/([A-Za-z0-9\-]+)/$ StudyingReport.php?SectionId=$1

RewriteRule ^StudentsLeft$ StudentsLeft.php
RewriteRule ^StudentsLeft/$ StudentsLeft.php  
RewriteRule ^StudentsLeft/([A-Za-z0-9\-]+)$ StudentsLeft.php?SectionId=$1
RewriteRule ^StudentsLeft/([A-Za-z0-9\-]+)/$ StudentsLeft.php?SectionId=$1

RewriteRule ^Uploadcontent$ UploadContent.php


RewriteRule ^StudentAttendance$ StudentAttendance.php
RewriteRule ^StudentAttendance/$ StudentAttendance.php
RewriteRule ^StudentAttendance/([A-Za-z0-9\-]+)$ StudentAttendance.php?SectionId=$1
RewriteRule ^StudentAttendance/([A-Za-z0-9\-]+)/$ StudentAttendance.php?SectionId=$1

RewriteRule ^ActionDelete$ ActionDelete.php
RewriteRule ^ActionDelete/$ ActionDelete.php
RewriteRule ^DeletePopUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ DeletePopUp.php?Action=$1&Id=$2
RewriteRule ^DeletePopUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ DeletePopUp.php?Action=$1&Id=$2

RewriteRule ^Calendar$ Calendar.php
RewriteRule ^Calendar/$ Calendar.php
RewriteRule ^Calendar/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Calendar.php?Action=$1&CalendarId=$2
RewriteRule ^Calendar/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Calendar.php?Action=$1&CalendarId=$2

RewriteRule ^StudentAjaxTab$ StudentAjaxTab.php
RewriteRule ^StaffAjaxTab$ StaffAjaxTab.php
RewriteRule ^StaffAjaxTab/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ StaffAjaxTab.php?Action=$1&Id=$2
RewriteRule ^StaffAjaxTab/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ StaffAjaxTab.php?Action=$1&Id=$2

RewriteRule ^ManageUser$ ManageUser.php
RewriteRule ^ManageUser/$ ManageUser.php
RewriteRule ^ManageUser/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageUser.php?Action=$1&UserId=$2
RewriteRule ^ManageUser/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageUser.php?Action=$1&UserId=$2
RewriteRule ^Permission$ Permission.php
RewriteRule ^Permission/$ Permission.php
RewriteRule ^Permission/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Permission.php?Action=$1&UniqueId=$2
RewriteRule ^Permission/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Permission.php?Action=$1&UniqueId=$2

RewriteRule ^Register$ Register.php
RewriteRule ^Register/$ Register.php
RewriteRule ^ManageHeaderAndFooter$ ManageHeaderAndFooter.php
RewriteRule ^ManageHeaderAndFooter/$ ManageHeaderAndFooter.php
RewriteRule ^ManageHeaderAndFooter/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageHeaderAndFooter.php?Action=$1&HeaderId=$2
RewriteRule ^ManageHeaderAndFooter/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageHeaderAndFooter.php?Action=$1&HeaderId=$2
RewriteRule ^ErrorPage$ ErrorPage.php
RewriteRule ^ErrorPage/$ ErrorPage.php

RewriteRule ^GetData$ GetData.php
RewriteRule ^GetData/$ GetData.php
RewriteRule ^GetData/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ GetData.php?Action=$1&UniqueId=$2
RewriteRule ^GetData/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ GetData.php?Action=$1&UniqueId=$2

RewriteRule ^Data$ Data.php
RewriteRule ^Data/$ Data.php



RewriteRule ^Note/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Note.php?NoteType=$1&NoteId=$2
RewriteRule ^Note/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Note.php?NoteType=$1&NoteId=$2

RewriteRule ^Response$ Response.php
RewriteRule ^Response/$ Response.php

RewriteRule ^ManageStaff modules/Users/views/index.php
RewriteRule ^AddStaff modules/Users/views/create.php
RewriteRule ^UserManagement modules/Users/views/users-index.php
RewriteRule ^AccessRoles/([A-Za-z0-9\-]+)$ modules/Users/views/permissions.php?UserId=$1
RewriteRule ^ViewStaff/([A-Za-z0-9\-]+)$ modules/Users/views/view-staff.php?StaffId=$1
RewriteRule ^UpdateStaff/([A-Za-z0-9\-]+)$ modules/Users/views/edit-staff.php?StaffId=$1
RewriteRule ^Reports modules/Reports/index.php
RewriteRule ^CenterEnrollment modules/Reports/registration-reports/enrollmentPerCenter.php
RewriteRule ^CountyEnrollment modules/Reports/registration-reports/enrollmentPerCounty.php
RewriteRule ^EfEnrollment modules/Reports/registration-reports/enrollmentPerEf.php
RewriteRule ^ActiveSessions modules/Reports/session-reports/session-index.php
RewriteRule ^Attendance modules/Reports/session-reports/session-index.
RewriteRule ^AttendanceStats modules/Reports/session-reports/attendance-index.php











RewriteRule ^generate_token api/auth/generate_token.php
RewriteRule ^password api/auth/reset_password.php
RewriteRule ^apps api/auth/apps.php
RewriteRule ^student_profile api/students/read.php
RewriteRule ^e_learning_content api/uploads/read.php
RewriteRule ^attendance api/attendance/AttendanceEndPoint.php
RewriteRule ^update-attendance api/attendance/update.php
RewriteRule ^get-attendance api/attendance/read.php
RewriteRule ^registration api/registration/RegistrationEndPoint.php
RewriteRule ^center api/centers/CentersEndPoint.php
RewriteRule ^listcenters api/centers/CentersEndPoint.php
RewriteRule ^student-progress api/Studentprogress/StudentProgressEndPoint.php
RewriteRule ^promotions api/Promotions/PromotionEndPoint.php
RewriteRule ^notes api/CoachVisits/CoachVisitEndpoint.php


<FilesMatch "\.(?i:pdf)$">
  ForceType application/octet-stream
  Header set Content-Disposition attachment
</FilesMatch>
